<!-- <div class="border-bottom">
<div class="container; d-flex justify-content-left" style="background-color: #99d6ff;color:black; padding-top:10px; padding-left: 13px">
	<h4>Departments Page</h4>
</div>
</div> -->

<% include partials/header %>

<div class="modal-body;">
	<div class="col-md-4" style="width:50%; float:left">
		<div class="border border-info rounded-sm p-3 bg-white form-wrapper"> 
		<h2 align="center" style="padding-top:5px; padding-bottom:-15px">Add new department</h2>
		<fieldset>  
			<form action="" method="POST" enctype="application/x-www-form-urlencoded">
			 <div class="form-group;" style="padding-left:80px; padding-right:57px;">
				<label for="department-name-input">Name of Department:</label>
				<input type="text" class="form-control" id="department-name-input" name="deptName" placeholder="">
			
			<!--  <div class="form-group;" style="padding-top:5px;padding-left:80px; padding-right:57px;">
				<label for="department-head-input">Department Head Employee ID#</label>
				<input type="text" class="form-control" id="department-head-input" placeholder="">
			 </div> -->
			 <div class="form-group">
					<label for="department_input">Branch</label>
					<select class="form-control" name="deptBranch" id="branch_input" required>
						<option value="">---Select Branch Location---</option>
						<% data.branch.forEach((branch) => { %>
							<option value="<%= branch.branch_id %>"><%= branch.city || "N/A" %> - <%= branch.country %></option>
						<% }) %>                  
					</select>              
				</div>  
				</div>
			 <button type="submit" class="btn btn-primary mt-3" style="position:relative; left:220px; width: 175px;">Submit</button>
			</form>
		</fieldset>
	</div>
</div>
	
	<div class="col-md-8" style="width:80%; float:right;">
	<div class="border border-info rounded-sm p-3 bg-white form-wrapper"> 
	<h2 align="center" style="padding-top:5px">Departments</h2>
	<div class="table-wrapper-scroll-y" style="display:block; max-height: 650px; overflow-y: auto; -ms-overflow-style:-ms-autohiding-scrollbar;">
	<table class="table table-hover">
	<thead style="width:auto !important;">
	<tr>
	  <th>Department Name</th>
	  <th>Branch Location</th>
	</tr>
	</thead>
	<tbody>
		<% data.department.forEach((department, index) => { %>
			<tr>
				<td><%= department.dep_name%></td>
				<td>                                      
					<div class="d-flex flex-row justify-content-between"> 
					<span class="mr-5"><%= department.city %> - <%= department.country %></span>            
					</div>      
				</td>
			</tr>
		<% }) %>
	</table>
	</div>
</div>
</div>
</div>

<% include partials/footer %>
