<% include partials/header %>

<div class="container-fluid">
	<div class="row d-flex flex-row justify-content-center">  
			<div class="col-6">
				<div class="border border-info mt-3 p-5 rounded-sm">
					<h2>Editing information for Department: <%=department.dep_name %> <%=department.department_id %></h2>
						<fieldset> 
							<form action="" method="POST" enctype="application/x-www-form-urlencoded">
							<div class="form-group;" style="padding-left:80px; padding-right:57px;">
								<label for="department-name-input">Name of Department:</label>
								<input type="text" class="form-control" id="department-name-input" name="deptName" value = "<%= department.dep_name %>" placeholder="" id="deptartment-name-input">
							</div>
							<!--  <div class="form-group;" style="padding-top:5px;padding-left:80px; padding-right:57px;">
								<label for="department-head-input">Department Head Employee ID#</label>
								<input type="text" class="form-control" id="department-head-input" placeholder="">
							</div> -->
							<!--<div class="form-group;" style="padding-top:5px; padding-left:80px; padding-right:57px;">
								<label for="branch-input">Branch ID#</label>
								<input type="number" class="form-control" id="branch-input" name="deptBranch" value = "<%= department.branch_id %>" placeholder="">
							</div> --->
							<input type="hidden" value="<%= department.department_id %>" name="department_id" id="id-input">
							<button type="submit" class="btn btn-primary mt-3" style="position:relative; left:220px; width: 175px;"> Update </button>
							</form>
					</fieldset>
				</div>
			</div>
	</div>
</div>


<% include partials/footer %>
