<% include partials/header %>

<div class="container-fluid">
  <div class="row d-flex flex-row justify-content-center">  
    <div class="col-8">
      <div class="border border-info mt-3 p-5 rounded-sm">
        <h2>Editing information for employee: <%= `${data.employee.fname} ${data.employee.lname}` %></h2>
        <div class="col-6 mx-auto">
        <fieldset>  
          <form action="" method="POST" enctype="application/x-www-form-urlencoded">         
            
            <div class="form-group">
              <label for="first-name-input">First Name</label>
              <input type="text" class="form-control" value="<%= data.employee.fname %>" name="first-name" id="first-name-input" placeholder="">
            </div>
            <div class="form-group">
              <label for="last-name-input">Last Name</label>
              <input type="text" class="form-control" value="<%= data.employee.lname %>" name="last-name" id="last-name-input" placeholder="">
            </div>        

            <div class="form-group">
              <label for="position_input">Title</label>
              <input type="text" maxlength="50" value="<%= data.employee.position %>" class="form-control" name="position" id="position_input" placeholder="Title">              
            </div>  

            <div class="update-certs mb-3">
              <p class="mb-2">Certifications</p>            
            
              <% data.certifications.forEach((certification) => { %>
                <fieldset> 
                  <div>
                    <% if(data.self_certs.includes(certification.cert_name)) { %>   
                      <input type="checkbox" checked id="<%= certification.certification_id %>" name="certifications" value="<%= certification.cert_name %>">
                      
                    <% } else if (!data.self_certs.includes(certification.cert_name)) { %>    
                      <input type="checkbox" id="<%= certification.certification_id %>" name="certifications" value="<%= certification.cert_name %>">
                    <% } %>                    
                    <label for="<%= certification.certification_id %>"><%= certification.cert_name %></label>
                    
                  </div>                
                </fieldset>                                     
              <% }) %>                                                 
            </div>
            
            <div class="form-group">
              <label for="department_input">Branch & Department</label>
              <select class="form-control" name="department" id="department_input">

                <% if(data.employee.department_id && (data.employee.city || data.employee.dep_name)) { %>                  
                  <option value="<%= data.employee.department_id %>"><%= data.employee.city + ' ' + data.employee.dep_name %></option>
                <% } else { %> 
                  <option value="">No department assigned</option>
                <% } %>  

                <!-- <option value="<%= data.employee.department_id %>"><%= data.employee.city + ' ' + data.employee.dep_name %></option> -->
                <option value="" class="bg-info text-white" disabled>---Select Branch & Department---</option>
                <% data.departments.forEach((department) => { %>
                  <option value="<%= department.department_id %>"><%= department.city || "N/A" %> <%= department.dep_name %> Department</option>
                <% }) %>                  
              </select>              
            </div>  

            <div class="form-group">
              <label for="manager_input">Manager</label>
              <select class="form-control" name="manager" id="manager_input">
                <% if(data.employee.manager_id && data.employee.manager_fname || data.employee.manager_lname) { %>                  
                  <option value="<%= data.employee.manager_id %>"><%= data.employee.manager_fname + ' ' + data.employee.manager_lname %></option>
                <% } else { %> 
                  <option value="">No manager assigned</option>
                <% } %>  
                <option value="" disabled class="bg-info text-white">---Select Manager---</option>
                <option value="null">None</option>
                <% data.managers.forEach((manager) => { %>                 
                  <% if(manager.fname || manager.lname) { %>                  
                    <option value="<%= manager.employee_id %>"><%= manager.fname %> <%= manager.lname %></option>                                  
                  <% } %>                      
                <% }) %>                                 
              </select>
            </div> 
            
            <div class="form-group">
              <label for="salary-input">Salary ($)</label>
              <input type="number" value="<%= data.employee.monthly_salary %>" class="form-control" name="monthly-salary" id="salary-input" placeholder="">
            </div>                    
              
            <input type="hidden" value="<%= data.employee.employee_id %>" name="employee_id" id="id-input">
                                      
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
            
          </form>
        </fieldset>
      </div>
      </div>
    </div>
  </div>

</div>

<script>
  
  // const goHome = function() {

    
  //   let homeUrl = window.location.origin
  //   window.location.href = homeUrl
  // }

  // const sendUpdateRequest = function(e) {    
  //   e.preventDefault();
  //   let fname = document.getElementById('first-name-input');
  //   let lname = document.getElementById('last-name-input');
  //   let salary = document.getElementById('salary-input');      
    
    
  // }
</script>

<% include partials/footer %>
