<!-- <div class="border-bottom">
<div class="container; d-flex justify-content-left" style="background-color: #99d6ff;color:black; padding-top:10px; padding-left: 13px">
	<h4>Employees Page</h4>
</div>
</div> -->

<% include partials/header %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h2 align="center" style="padding-top:5px; padding-bottom:-15px">Add new employee</h2>    
      <fieldset>  
        <form action="" method="POST" enctype="application/x-www-form-urlencoded">
        <div class="form-group;" style="padding-left:80px; padding-right:57px;">
          <label for="first-name-input">First Name</label>
          <input type="text" class="form-control" name="first-name" id="first-name-input" placeholder="">
        </div>
        <div class="form-group;" style="padding-top:5px;padding-left:80px; padding-right:57px;">
          <label for="last-name-input">Last Name</label>
          <input type="text" class="form-control" name="last-name" id="last-name-input" placeholder="">
        </div>
        <div class="form-group;" style="padding-top:5px; padding-left:80px; padding-right:57px;">
          <label for="birthday-input">Birthday</label>
          <input type="date" class="form-control" name="birthday" id="birthday-input" placeholder="">
        </div>
        <!-- <div class="form-group;" style="padding-top:5px; padding-left:80px; padding-right:57px;">
          <label for="branch-input">Branch Location</label>
          <select class="form-control" id="branch-input">
            <option value="">---Select Branch---</option>
            <option value="chicago">Chicago</option>
            <option value="new york">New York City</option>
            <option value="seoul">Seoul</option>
            <option value="taipei">Taipei</option>
          </select>
        </div>
        <div class="form-group;" style="padding-top:5px; padding-left:80px; padding-right:57px;">
          <label for="department-input">Department</label>
          <select class="form-control" id="department-input">
            <option value="">---Select Department---</option>
            <option value="accounting">Accounting</option>
            <option value="engineering">Engineering</option>
            <option value="resources">Resources</option>
            <option value="marketing">Marketing</option>
          </select>
        </div>
        <div class="form-group;" style="padding-top:5px; padding-left:80px; padding-right:57px;">
          <label for="position-input">Position</label>
          <select class="form-control" id="position-input">
            <option value="">---Select Position---</option>
            <option value="1">Junior Software Developer</option>
            <option value="2">Sales Assistant</option>
            <option value="3">Chief Technical Officer</option>
          </select>
        </div> -->
        <div class="form-group;" style="padding-top:5px; padding-left:80px; padding-right:57px;">
          <label for="salary-input">Salary ($)</label>
          <input type="number" class="form-control" name="salary" id="salary-input" placeholder="">
        </div>
        <div class="form-group;" style="padding-top:5px; padding-left:80px; padding-right:57px;">
          <label for="start-date-input">Start Date</label>
          <input type="date" class="form-control" name="start-date" id="start-date-input" placeholder="">
        </div>
          
        <div class="form-group;" style="padding-top:10px;padding-left:80px; padding-right:57px;">
          <label style="padding-right:15px">Employment Status</label>
          <label class="radio-inline"><input type="radio" name="employee-stat" id="employment-status-input" value="current";>Current</label>
          <label class="radio-inline"><input type="radio" name="employee-stat" id="employment-status-input" value= "previous";>Previous</label>      
        </div> 
        <!-- <div class="form-group;" style=" padding-left:80px; padding-right:57px;">
          <label for="manager-input">Manager</label>
          <select class="form-control" id="manager-input">
            <option value="">---Select Manager---</option>
            <option value="1">Ryan Yun</option>
            <option value="2">David Chen</option>
          </select>
        </div> -->
        <button type="submit" class="btn btn-primary mt-3" style="position:relative; left:220px; width: 175px;">Submit</button>
        </form>
      </fieldset>
    </div>
    
    <div class="col-md-8 pr-5">
      <h2 align="center" style="padding-top:5px">Employees</h2>
      <div class="table-wrapper-scroll-y" style="display:block; max-height: 650px; overflow-y: auto; -ms-overflow-style:-ms-autohiding-scrollbar;">
      <table class="table table-hover">
      <thead style="width:auto !important;">
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>D.O.B.</th>
        <!-- <th>Branch</th> -->
        <!-- <th>Department</th> -->
        <!-- <th>Position</th> -->
        <th>Salary</th>
        <th>Start Date</th>
        <th>Employed</th>
        <!-- <th>Manager</th> -->
      </tr>
      </thead>
        <tbody>
            <% employee.forEach((employee, index) => { %>
              <tr>
                <th scope="row"><%= employee.id %></th>
                <td><%= employee.fname %></td>
                <td><%= employee.lname %></td>
                <td><%= employee.birthday %></td>
                <!-- <td><%= employee.branch %></td> -->
                <!-- <td><%= employee.department %></td> -->
                <!-- <td><%= employee.position %></td> -->
                <td><%= employee.salary %></td>
                <td><%= employee.start_date %></td>
                <td><%= (employee.employment_status) %></td>                 
                <!-- <td><%= employee.manager %></td> -->
              </tr>
            <% }) %>
        </tbody>
      </table>

      </div>
    </div>
  </div>
</div>



<% include partials/footer %>
