<% include partials/header %>

<div class="container-fluid mt-2 mx-4">
  <div class="row">
    <div class="col-2 p-0">   
      <div class="border border-info rounded-sm p-3 bg-white form-wrapper"> 
        <h4>Add New Employee</h2>      
        <fieldset>
          <form action="/employees/add" method="POST" enctype="application/x-www-form-urlencoded">
            <div class="form-group">
              <label for="fname_input">First Name</label>
              <input type="text" class="form-control" name="fname" id="fname_input" placeholder="First name">
            </div>  
            
            <div class="form-group">
              <label for="lname_input">Last Name</label>
              <input type="text" class="form-control" name="lname" id="lname_input" placeholder="Last name">
            </div>    
            
            <div class="form-group">
              <label for="birthday_input">Birthday</label>
              <input type="date" class="form-control" name="birthday" id="birthday_input" placeholder="Date of birth">
            </div>            

            <div class="form-group">
              <label for="department_input">Department</label>
              <select class="form-control" name="department" id="department_input">
                <option value="">---Select Department---</option>
                <% data.departments.forEach((department) => { %>
                  <option value="<%= department.department_id %>"><%= department.city || "N/A" %> <%= department.dep_name %> Department</option>
                <% }) %>                  
              </select>
            </div>  
            
            <div class="form-group">
              <label for="position_input">Position</label>
              <select class="form-control" name="position" id="position_input">
                <option value="">---Select Position---</option>               
              </select>
            </div>    
            
            <div class="form-group">
              <label for="salary_input">Monthly Salary($)</label>
              <input type="number" class="form-control" name="salary" id="salary_input" placeholder="Monthly salary">
            </div>     

            <div class="form-group">
              <label for="startdate_input">Start Date</label>
              <input type="date" class="form-control" name="startdate" id="startdate_input" placeholder="Start date">
            </div>  

            <div class="form-group">
              <label for="status_input">Employment Status</label>
              <select class="form-control" name="status" id="status_input">
                <option value="">---Select Employment Status---</option>
                <option value="current">Current employee</option>
                <option value="previous">Previous employee</option>                
              </select>                      
            </div>    
            
            <div class="form-group">
              <label for="manager_input">Manager</label>
              <select class="form-control" name="manager" id="manager_input">
                <option value="">---Select Manager---</option>               
              </select>
            </div>    
            
            <button type="submit" class="btn btn-primary mb-2 center">Submit</button>
          </form>                        
        </fieldset>  
      </div>             
    </div>

    <div class="col-10 p-0">
      <div class="border border-info rounded-sm p-3 bg-white ml-4 mr-5 table-wrapper">
        <h4>Employees</h4>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>DOB</th>
              <th>Branch</th> 
              <th>Department</th> 
              <th>Position</th>
              <th>Monthly Salary</th>
              <th>Start Date</th>
              <th>Employment Status</th>
              <th>Manager</th>
            </tr>
          </thead>
          <tbody>
            <% data.employee.forEach((employee) => { %>
              <tr>
                <th scope="row"><%= employee.employee_id %></th>
                <td><%= employee.fname %></td>
                <td><%= employee.lname %></td>
                <td><%= employee.birthday %></td>
                <td><%= employee.city %></td>
                <td><%= employee.dep_name %></td>
                <td><%= employee.position_id %></td>
                <td><%= employee.monthly_salary %></td>
                <td><%= employee.start_date %></td>
                <td><%= (employee.employment_status) %></td>                 
                <td><%= employee.manager_id %></td>

                <td class="d-flex">                  
                  <a href="/employees/edit/<%= employee.employee_id %>" class="btn btn-sm btn-info mr-2"><i class="far fa-edit"></i></a>
                  <a href="/employees/delete/<%= employee.employee_id %>" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></a>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>
</div>

<script>

  // function deleteEmployee(id) {      

  //   axios.post('/employees/delete', {
  //     id: id      
  //   })
  //   .then(function (response) {
  //     console.log(`employee ${id} deleted`);
  //   })
  //   .catch(function (error) {
  //     console.log(error);
  //   });
  // }

</script>

<% include partials/footer %>
